#content_title
{
    font-size: 50px;
}

#user
{
    left: 33px;
    font-size: 55px;
}
input
{
    left: 30px;
    width: 40px;
    height: 40px;
}
button
{
    font-size: 50px;
    width: 300px;
    height: 70px;
}